.input_component {
    display: flex;
    background-color: white;
    width: 400px;
    justify-content: center;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-direction: row;
    padding: 10px;  
    height: 80px;
}
.field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.label {
    color: gray;
    font-size: 17px;
}
.input {
    font-size: 20px;
    outline: none;
    border: none;
    width: 60%;
}
.input-selector {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}